<?xml version='1.0' encoding='utf-8'?>
<plugin id="reteno-cordova-plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-reteno</name>
    <js-module name="cordova-plugin-reteno" src="www/cordova-plugin-reteno.js">
        <clobbers target="retenosdk" />
    </js-module>

<platform name="android">
  <config-file target="config.xml" parent="/*">
    <feature name="RetenoPlugin">
      <param name="android-package" 
             value="com.reteno.plugin.RetenoPlugin"/>
    </feature>
  </config-file>
  
  <framework src="src/android/reteno.gradle" custom="true" type="gradleReference" />
  
  <source-file 
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoPlugin.java" 
      target-dir="src/com/reteno/plugin" />
  <source-file 
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoEvent.java" 
      target-dir="src/com/reteno/plugin" />
  <source-file 
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoPushReceiver.java" 
      target-dir="src/com/reteno/plugin" />
  <source-file 
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoUserAttributes.java" 
      target-dir="src/com/reteno/plugin" />
  <source-file 
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoUtil.java" 
      target-dir="src/com/reteno/plugin" />
</platform>
</plugin>
