<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-reteno" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <name>cordova-plugin-reteno</name>
    <engines>
        <engine name="cordova-android" version=">=12.0.0" />
    </engines>
    <!-- Android Reteno SDK (FCM) version override -->
    <preference name="ANDROID_RETENO_FCM_VERSION" default="2.9.0" />
    <!-- iOS Reteno SDK version override -->
    <preference name="IOS_RETENO_FCM_VERSION" default="2.6.1" />
    <!-- Firebase Messaging version used by Reteno FCM module -->
    <preference name="ANDROID_FIREBASE_MESSAGING_VERSION" default="23.1.0" />
    <preference name="SDK_ACCESS_KEY" default="MISSING" />
    <hook type="before_plugin_install" src="scripts/validate-install.js" />
    <hook type="after_plugin_install" src="scripts/android-fcm-setup.js" />
    <hook type="after_platform_add" src="scripts/android-fcm-setup.js" />
    <hook type="after_prepare" src="scripts/android-fcm-setup.js" />
    <js-module name="cordova-plugin-reteno" src="www/cordova-plugin-reteno.js">
        <clobbers target="retenosdk" />
    </js-module>

<platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <meta-data android:name="com.reteno.SDK_ACCESS_KEY" android:value="$SDK_ACCESS_KEY" />
        <!-- Reteno push events: forward PushReceived to plugin receiver -->
        <receiver
            android:name="com.reteno.plugin.RetenoPushReceiver"
            android:enabled="true"
            android:exported="true" />
        <meta-data
            android:name="com.reteno.Receiver.PushReceived"
            android:value="com.reteno.plugin.RetenoPushReceiver"
            xmlns:tools="http://schemas.android.com/tools"
            tools:replace="android:value" />

        <!-- Reteno notification clicked receiver: handles user taps on push notifications -->
        <receiver
            android:name="com.reteno.plugin.RetenoNotificationClickedReceiver"
            android:enabled="true"
            android:exported="true" />
        <meta-data
            android:name="com.reteno.Receiver.NotificationClicked"
            android:value="com.reteno.plugin.RetenoNotificationClickedReceiver"
            xmlns:tools="http://schemas.android.com/tools"
            tools:replace="android:value" />

        <!-- Reteno in-app message custom data receiver -->
        <receiver
            android:name="com.reteno.plugin.RetenoInAppDataReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.reteno.custom-inapp-data" />
            </intent-filter>
        </receiver>

    </config-file>

  <config-file target="config.xml" parent="/*">
    <feature name="RetenoPlugin">
      <param name="android-package" 
             value="com.reteno.plugin.RetenoPlugin"/>
    </feature>
  </config-file>
  
  <framework src="src/android/reteno.gradle" custom="true" type="gradleReference" />
  
  <source-file 
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoPlugin.java" 
      target-dir="src/com/reteno/plugin" />
  <source-file 
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoEvent.java" 
      target-dir="src/com/reteno/plugin" />
  <source-file
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoPushReceiver.java"
      target-dir="src/com/reteno/plugin" />
  <source-file
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoNotificationClickedReceiver.java"
      target-dir="src/com/reteno/plugin" />
  <source-file
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoInAppDataReceiver.java"
      target-dir="src/com/reteno/plugin" />
  <source-file
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoUserAttributes.java"
      target-dir="src/com/reteno/plugin" />
  <source-file 
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoUtil.java" 
      target-dir="src/com/reteno/plugin" />
</platform>

<platform name="ios">
  <config-file target="config.xml" parent="/*">
    <feature name="RetenoPlugin">
      <param name="ios-package" value="RetenoPlugin" />
    </feature>
    <preference name="UseSwiftLanguageVersion" value="5.0" />
  </config-file>

  <podspec>
    <pods>
      <pod name="Reteno" spec="$IOS_RETENO_FCM_VERSION" />
    </pods>
  </podspec>

  <source-file src="src/ios/RetenoPlugin.swift" />
</platform>
</plugin>
