<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-reteno" version="2.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <name>cordova-plugin-reteno</name>
    <engines>
        <engine name="cordova-android" version=">=12.0.0" />
        <engine name="cordova-ios" version=">=8.0.0" />
    </engines>
    <preference name="SDK_ACCESS_KEY" default="MISSING" />
    <preference name="IOS_DEVICE_TOKEN_HANDLING_MODE" default="manual" />
    <hook type="before_plugin_install" src="scripts/validate-install.js" />
    <hook type="after_plugin_install" src="scripts/android-fcm-setup.js" />
    <hook type="after_platform_add" src="scripts/android-fcm-setup.js" />
    <hook type="after_prepare" src="scripts/android-fcm-setup.js" />
    <js-module name="cordova-plugin-reteno" src="www/cordova-plugin-reteno.js">
        <clobbers target="RetenoPlugin" />
    </js-module>

<platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <meta-data android:name="com.reteno.SDK_ACCESS_KEY" android:value="$SDK_ACCESS_KEY" />
    </config-file>

  <config-file target="config.xml" parent="/*">
    <feature name="RetenoPlugin">
      <param name="android-package" 
             value="com.reteno.plugin.RetenoPlugin"/>
    </feature>
  </config-file>
  
  <framework src="src/android/reteno.gradle" custom="true" type="gradleReference" />
  
  <source-file 
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoPlugin.java" 
      target-dir="src/com/reteno/plugin" />
  <source-file 
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoEvent.java" 
      target-dir="src/com/reteno/plugin" />
  <source-file
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoUserAttributes.java"
      target-dir="src/com/reteno/plugin" />
  <source-file 
      src="src/android/app/src/main/java/com/reteno/plugin/RetenoUtil.java" 
      target-dir="src/com/reteno/plugin" />
</platform>

<platform name="ios">
  <config-file target="config.xml" parent="/*">
    <feature name="RetenoPlugin">
      <param name="ios-package" value="RetenoPlugin" />
    </feature>
    <preference name="UseSwiftLanguageVersion" value="5.0" />
    <preference name="IOS_DEVICE_TOKEN_HANDLING_MODE" value="$IOS_DEVICE_TOKEN_HANDLING_MODE" />
  </config-file>

  <podspec>
    <pods>
      <pod name="Reteno" spec="2.6.1" />
      <pod name="FirebaseMessaging" />
    </pods>
  </podspec>

  <source-file src="src/ios/RetenoPlugin.swift" />
</platform>
</plugin>
